&uart0{
	current-speed = <115200>;
};

&pinctrl {
	spi1_default: spi1_default {
			group1 {
					psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
							<NRF_PSEL(SPIM_MOSI, 1, 13)>,
							<NRF_PSEL(SPIM_MISO, 1, 14)>;
			};
	};

	spi1_sleep: spi1_sleep {
			group1 {
					psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
							<NRF_PSEL(SPIM_MOSI, 1, 13)>,
							<NRF_PSEL(SPIM_MISO, 1, 14)>;
					low-power-enable;
			};
	};
};

&spi1 {
	clock-frequency = <8000000>;
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
	arducam_mega0:arducam-mega0@0 {
			compatible = "arducam,mega";
			reg = <0>;
			spi-max-frequency = <8000000>;
			status = "okay";
	};
};